<div class="parent">
    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" [(ngModel)]="loginAdminObj.userName" name="userName" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <input type="password" [(ngModel)]="loginAdminObj.password" name="password" required>
                    <label>Password</label>
                </div>
                <button type="button" class="btn" (click)="onAdminLogin()" routerLink="/layout">Login</button>

            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>